/* condicion inicial navegacion */

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#indicators{
  display: none;
}
#index{
  display: block;
}
#definition{
  display: none;
}

/*Inicia sección de barra menu*/

#selectIndicators{

  padding: 0 auto;   /*quitar marjen y padding de default*/
  margin: 0 auto;
  size: 15;

}


#all-pages{
  background-image: url(Images/map_latin_america.png);
  background-repeat: no-repeat;
  background-size: contain;
  color:  #000000d7;
}

/*Inicia sección de titulo y logo*/
#logo span {
    text-align: center;
    width: 500px;
    height: 102px;
    font-size: 36px;
    margin-left: 120px;
}

#logo img{
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
}

#head-bar{
  height: 200px;
  border: solid 2px #000000d7;
  background-color: rgba(93, 130, 165, 0.88);
}
/*Termina sección de titulo y logo*/

/*Inicia sección barra*/
#bar{
  border:solid #000000d7;
}

.options-bar li{
  list-style: none;     /*Quitarle a la lista los puntos */
  display: inline-block; /*Mostrar la barra en horizontal*/
  margin-right: 200px;   /*Espacio entre las palabras de la barra*/
  margin-left: 100px;
  margin-top: 10px;
}

.options-bar li a{
text-decoration: none;       /*Quitarle el subrayado a las palabras de la barra*/
color: rgba(0, 0, 0, 0.753);
font-size: 16px;
}
/*Termina sección de barra menu*/


/* Inicia sección de inicio y que es un indicador*/
.index-text{
    width: 60%;
    text-align: justify;
    padding-left: 40px;
    padding-top: 100px;
    font-family: Roboto;
    font-size: 24px;
}

.definition1 h3 {
  padding-top: 60px;
  padding-left: 200px;

}

.whatis-text{
    width: 60%;
    text-align: justify;
    padding-left: 40px;
    padding-top: 40px;
    font-family: Roboto;
    font-size: 24px;
}

.image-first-screen  {
  float: right;
  padding-top: 40px;
}

.image-second-screen{
  float:right;
  padding-top:40px;
}
/*Temina sección de incio y que es un indicador*/

/*Inicia sección donde se muestran los indicadores*/
.indicators1 h3{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0px;
}

#selectionScreen{
  margin-left: 467px;
  left:50%;
}
.country-selection, .gender-selection{
  text-align: justify;
  padding-top: 30px;
  font-family: Roboto;
  font-size: 24px;
}

.indicators1 span{
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  margin-left: 117px;
}

#next-button{
  margin-left: 150px;
  margin-top: 50px;
}

#selectIndicators{
  width: 1001px;
  height: 350px;
  margin-top: 5px;
  margin-left: 117px;
  font-size: 14px;
 }

 #selectIndicators span{
  float: right;
 }

 #indicator-button{
  width: 151px;
  margin-left: 542px;
  margin-top: 20px;
}


/*Inicia la pantalla donde se muestra la tabla con el valor historico de los indicadores*/

#tableScreen{
  text-align: center;
  margin-top: 30px;
}

table, th, td {
  padding-left:  30px;
  padding-right: 30px;
  margin-top: 30px;
  border: 1px solid black;
}

 #btOrderListAsc{
  float: right;
  margin-right: 117px;
 }

 #btOrderListDesc{
  float:right;
 }

 #idStats button{
   float:right;
   margin-right: 800px;
   margin-left: 250px;
   margin-top: 40px;
 }

 /* desktop first, empezando por pantalla más grande*/

 @media screen and (max-width:1024px){
  .options-bar li{
    margin-right: 100px;
   }
  .index-text{
    font-size: 20px;
    width: 50%;
  }

.image-first-screen  {
  width: 50%;
}

.definition1 h3 {
  padding-top: 60px;
  padding-left: 90px;

}
.whatis-text{
  font-size: 20px;
}

.indicators1 h3{
  font-size: 24px;
}

#selectionScreen{
  margin-left: 362px;
}
.country-selection, .gender-selection{
  font-size: 20px;
}
#next-button{
  margin-left: 90px;
}
.indicators1 span{
  font-size: 20px;
}

#selectIndicators{
  width: 800px;
  margin-left: 100px;
  font-size: 12px;
 }

 #indicator-button{
  width: 151px;
  margin-left: 400px;
  margin-top: 20px;
  font-size: 14px;
}
}


 @media screen and (max-width:767px){
  #logo span {
    font-size: 32px;
    margin-left: 10px;
   }
   #logo img{
   width: 90px;
   }
   #head-bar{
  height: 150px;
  width: 395px;
   }
   .options-bar li{
    margin-right: 30px;
    width: 395px;
   }
   .options-bar li a{
    font-size: 14px;
    width: 395px;
    }
    #bar{
      width: 395px;
    }
  .index-text{
    font-size: 18px;
  }

  /*.image-first-screen  {
  width: inherit;
  max-width: 50%;
  }*/

.definition1 h3 {
  padding-top: 60px;
  padding-left: 90px;

}
.whatis-text{
  font-size: 20px;
}

.indicators1 h3{
  font-size: 22px;
}

#selectionScreen{
  margin-left: 300px;
}
.country-selection, .gender-selection{
  font-size: 18px;
}
#next-button{
  margin-left: 50px;
}
.indicators1 span{
  font-size: 18px;
}

#selectIndicators{
  width: 600px;
  margin-left: 70px;
  font-size: 10px;
 }

 #indicator-button{
  margin-left: 300px;
}

#tableScreen{
  font-size: 10px;
}
}


@media screen and (max-width:480px){
  #logo span {
    font-size: 28px;
    margin-left: 0px;
   }
   #logo img{
   width: 50px;
   }
   #head-bar{
  height: 120px;
   }
   .options-bar li{
    margin-right: 30px;
    margin-left: 50px;
   }
   .options-bar li a{
    font-size: 14px;
    }
    
  .index-text{
    font-size: 18px;
  }

  /*.image-first-screen  {
  width: inherit;
  max-width: 50%;
  }*/

.definition1 h3 {
  padding-top: 60px;
  padding-left: 90px;

}
.whatis-text{
  font-size: 20px;
}

.indicators1 h3{
  font-size: 22px;
}

#selectionScreen{
  margin-left: 300px;
}
.country-selection, .gender-selection{
  font-size: 18px;
}
#next-button{
  margin-left: 50px;
}
.indicators1 span{
  font-size: 18px;
}

#selectIndicators{
  width: 600px;
  margin-left: 70px;
  font-size: 10px;
 }

 #indicator-button{
  margin-left: 300px;
}

#tableScreen{
  font-size: 10px;
}
}
